<div class="h-100 bg-primary d-flex flex-column justify-content-center align-items-center">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <input type="text" placeholder="Search City" class="p-3 mb-4 " formControlName="cityName">
  </form>
  <div class=" weather-wrapper bg-secondary shadow-lg">
    <div class="upper-data h-50 position-relative">
      <!-- {{weather.main!.temp | json}} -->
      <img src="../../../../assets/hot.jpg" alt="" *ngIf="weather?.main!.temp  >= 288">
      <img src="../../../../assets/cold.jpg" alt="" *ngIf="weather?.main!.temp < 288">
      <div class="detail d-flex flex-column justify-content-center align-items-center">
        <div class="text-white city">{{weather?.name}}</div>
        <div class="text-white temperature">{{weather?.main!.temp | temperatureTransform : 'C' | number : '1.0-0' }}°c
        </div>
        <!-- °c -->
      </div>
    </div>
    <div class="lower-data d-flex flex-column h-50 p-4">
      <h5 class="text-white">More Information</h5>
      <div class="data bg-light text-white flex-grow-1 p-4">
        <div class="row h-50">
          <div class="col-6 d-flex">
            <div class="w-50">
              <div>
                <span class="icon fa-solid fa-temperature-low"></span>
              </div>
              <div>Min</div>
            </div>
            <div>
              {{weather?.main!.temp_min | temperatureTransform : 'C' | number : '1.0-0'}}°c
            </div>
          </div>
          <div class="col-6 d-flex">
            <div class="w-50">
              <div>
                <span class="icon fa-solid fa-temperature-high"></span>
              </div>
              <div>Max</div>
            </div>
            <div>
              {{weather?.main!.temp_max | temperatureTransform : 'C' | number : '1.0-0'}}°c
            </div>
          </div>
        </div>
        <div class="row h-50">
          <div class="col-6 d-flex">
            <div class="w-50">
              <div>
                <span class="icon fa-solid fa-temperature-low"></span>
              </div>
              <div>Humidity</div>
            </div>
            <div>
              {{weather?.main!.humidity}}%
            </div>
          </div>
          <div class="col-6 d-flex">
            <div class="w-50">
              <div>
                <span class="icon fas fa-light fa-wind"></span>
              </div>
              <div>Wind</div>
            </div>
            <div>
              {{weather?.wind!.speed}}
              <span class="d-block">km/h</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>