<div class="h-100 bg-primary d-flex justify-content-center align-items-center">
  <div class="weather-wrapper bg-secondary">
    <div class="upper-data h-50 position-relative">
      <img src="../../../../assets/hot.jpg" alt="" class="d-none">
      <img src="../../../../assets/cold.jpg" alt="">
      <div class="detail d-flex flex-column justify-content-center align-items-center">
        <div class="text-white city">Surat</div>
        <div class="text-white temperature">30°c</div>
      </div>
    </div>
    <div class="lower-data d-flex flex-column h-50 p-4">
      <h5 class="text-white">More Information</h5>
      <div class="data bg-light text-white flex-grow-1 p-4">
        <div class="row h-50">
          <div class="col-6 d-flex">
            <div class="w-50">
              <div>
                <span class="icon fa-solid fa-temperature-low"></span>
              </div>
              <div>Min</div>
            </div>
            <div>
              30°c
            </div>
          </div>
          <div class="col-6 d-flex">
            <div class="w-50">
              <div>
                <span class="icon fa-solid fa-temperature-high"></span>
              </div>
              <div>Max</div>
            </div>
            <div>
              30°c
            </div>
          </div>
        </div>
        <div class="row h-50">
          <div class="col-6 d-flex">
            <div class="w-50">
              <div>
                <span class="icon fa-solid fa-temperature-low"></span>
              </div>
              <div>Min</div>
            </div>
            <div>
              30°c
            </div>
          </div>
          <div class="col-6 d-flex">
            <div class="w-50">
              <div>
                <span class="icon fas fa-light fa-wind"></span>
              </div>
              <div>Wind</div>
            </div>
            <div>
              30°c
              <span class="d-block">km/h</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
